:root {
  --primary-color: #008fc9;
  --primary-hover: #0177a5;
  --bg-color: #ddd;
  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.sidebar {
  background-color: var(--bg-color);
  padding: 20px;
  width: 250px;
  transition: transform 0.3s ease;
}

.logo {
  height: auto;
  width: 100%;
  max-width: 200px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  margin-bottom: 10px;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: var(--primary-hover);
}

.menu {
  height: 30px;
  display: none;
  cursor: pointer;
}

.head {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

h1 {
  margin: 0 auto;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}

.phone-input {
  margin: 20px auto;
  padding: 20px;
}

input[type="tel"] {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
}

button {
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

#submitBtn {
  padding: 10px;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}

#submitBtn:hover {
  background-color: var(--primary-hover);
}

iframe {
  height: calc(100vh - 70px);
  width: 100%;
  border: none;
}
@media (max-width: 768px) {
  .menu {
    display: block;
    align-self: flex-end;
  }

  .sidebar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--bg-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .sidebar.show {
    display: block;
    transform: translateX(0);
  }
}

.sidebar,
.sidebar button,
#submitBtn {
  transition: background-color 0.3s, transform 0.3s;
}
